@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');


.Background{
    /* background-image: url(../images/background.jfif); */
    /* backdrop-filter: grayscale(100%);
    backdrop-filter: blur(100px); */
    /* background-color: #E1DFD0; */
    filter: contrast(70%);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section{
    margin-top: 10px;
    /* background-image: url(../images/background.jfif); */
    /* filter: contrast(90%); 
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh; */
}

.hero-photo{
    width: 100vw;
    height: 200px;
}

.logo-name {
    font-family: 'Allura', cursive;
  }

  .oblique-text {
    transform: rotate(-10deg);
  }


  .button {
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  

  .input:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .slide-section-image{
    height: 20vh;
  }

  .slide-text{
    font-size: xx-large;
  }

  .picture-container{
    max-height: 93vh;
  }
  .picture {
    width: 50vw;
    height: calc(width * 1.5); /* Pour un ratio d'aspect 4:3 */
    max-height: 93vh;
  }

  .shadow-picture {
    box-shadow: -3px 0px 3px rgba(0, 128, 128, 0.3);
  }

  .form-container{
    max-height: 93vh;
  }
